@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?41r8lc');
	src:url('fonts/icomoon.eot?#iefix41r8lc') format('embedded-opentype'),
		url('fonts/icomoon.ttf?41r8lc') format('truetype'),
		url('fonts/icomoon.woff?41r8lc') format('woff'),
		url('fonts/icomoon.svg?41r8lc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-library:before {
	content: "\e604";
}
.icon-coin-dollar:before {
	content: "\e600";
}
.icon-credit-card:before {
	content: "\e601";
}
.icon-bin:before {
	content: "\e603";
}
.icon-banknote:before {
	content: "\e602";
}
